*.pyc
/lib
/scripts
/includes
.idea/workspace.xml
.idea/encodings.xml
.idea/workspace.xml
snoop_file
helpers/*.json
helpers/*.out

.idea/workspace.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/workspace.xml
temp_snoop.out
temp_snoop.out
trace_ShowSelectableTables1.LOG
traceIBM_0049252901.LOG
temp_snoop.out
temp_snoop.out
