<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src={{ url_for('static',filename="js/jQuery.js")}}></script>
  <script type="text/javascript" src={{ url_for('static',filename="js/popper.min.js")}}></script>
  <script type="text/javascript" src={{ url_for('static',filename="js/bootstrap.min.js")}}></script>
  <script type="text/javascript" src={{ url_for('static',filename="js/data_tables.js")}}></script>
  <script type="text/javascript" src={{ url_for('static',filename="js/pace.min.js")}}></script>
  <link rel="stylesheet" href={{ url_for('static',filename="styles/data_tables.css")}} >
  <link rel="stylesheet" href={{ url_for('static',filename="styles/bootstrap.css")}} >
  <link rel="stylesheet" href={{ url_for('static',filename="styles/pace.css")}}>
  <link rel="stylesheet" href="https://datatables.net/dev/accessibility/DataTables_1_10/media/css/jquery.dataTables.css">
  <title>Trace parsing tool</title>
</head>
<body style="height: 100%; width: 100%; bgcolor:#17181c; display: block; ">
  {% include '_navbar.html' %} {% block body %}{% endblock %}
<script type="text/javascript">
      $(document).ready(function () {
          $('#example').DataTable({
            "pageLength": 100
          });
      });
</script>
<script>
    $(".custom-file-input").on("change", function () {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
  </script>
</body>
</html>