{% extends 'layout.html' %}
{% block body %}
<div class="container-fluid mt-2">
    <div class="container-fluid d-flex justify-content-center">
        <div class="row" style="width: 100%;">
            <div class="col-sm-3 border ">
                <p class="d-inline strong text-info">Id : </p>
                <p class="d-inline text-center"> Test_ID</p>
            </div>
            <div class="col-sm-3 border ">
                <p class="d-inline strong text-info ">File Name :</p>
                <p class="d-inline">{{ meta["file_name"] }}</p>
            </div>
            <div class="col-sm-3 border ">
                <p class="d-inline strong text-info ">Comment :</p>
                <p class="d-inline">{{ meta["comment"] }}</p>
            </div>
            <div class="col-sm-3 border  ">
                <p class="d-inline strong text-info ">Created At :</p>
                <p class="d-inline">{{ meta["stats"]["uploaded_at"] }}</p>
            </div>
        </div>
    </div>

    <div class="container-fluid d-flex justify-content-center ">
        <div class="row" style="width: 100%;">
            <div class="col-sm-3 border rounded">
                <p class="d-inline strong text-info ">Sent Count :</p>
                <p class="d-inline">{{ meta["stats"]["send_count"] }}</p>
            </div>
            <div class="col-sm-3 border rounded ">
                <p class="d-inline strong text-info ">Read Count :</p>
                <p class="d-inline">{{ meta["stats"]["read_count"] }}</p>
            </div>
            <div class="col-sm-3 border rounded">
                <p class="d-inline strong text-info ">Total Bytes Sent :</p>
                <p class="d-inline">{{ meta["stats"]["bytes_sent"] }} (avg  {{ meta["stats"]["bytes_sent"]/meta["stats"]["send_count"] }}) </p>
            </div>
            <div class="col-sm-3 border rounded">
                <p class="d-inline strong text-info ">Total Bytes Read</p>
                <p class="d-inline"> {{ meta["stats"]["bytes_read"] }} (avg {{ meta["stats"]["bytes_read"]/meta["stats"]["read_count"] }}) </p>
            </div>
        </div>
    </div>
    <div class="container-fluid d-flex justify-content-center ">
        <div class="row" style="width: 100%;">
            <div class="col-sm-3 border rounded">
                <p class="d-inline strong text-info ">First Packet TimeStamp :</p>
                <p class="d-inline">{{ meta["stats"]["start_time"] }}</p>
            </div>
            <div class="col-sm-3 border rounded ">
                <p class="d-inline strong text-info ">Last Packet TimeStamp :</p>
                <p class="d-inline">{{ meta["stats"]["end_time"] }}</p>
            </div>
            <div class="col-sm-3 border rounded">
                <p class="d-inline strong text-info ">Total Duration :</p>
                <p class="d-inline">{{ meta["stats"]["total_duration"] }}</p>
            </div>
            <div class="col-sm-3 border rounded">
                <p class="d-inline strong text-info ">??</p>
                <p class="d-inline">  </p>
            </div>
        </div>
    </div>
    <div class="container-fluid d-flex justify-content-center ">
        <div class="row" style="width: 100%;">
            <div class="col-sm-3 border rounded">
                <p class="d-inline strong text-info ">Server Time:</p>
                <p class="d-inline">{{ meta["stats"]["server_time"] }}</p>
            </div>
            <div class="col-sm-3 border rounded ">
                <p class="d-inline strong text-info ">Client Time:</p>
                <p class="d-inline">{{ meta["stats"]["client_time"] }}</p>
            </div>
            <div class="col-sm-3 border rounded">
                <p class="d-inline strong text-info ">Host:</p>
                <p class="d-inline">{{ meta["stats"]["server_url"] }}</p>
            </div>
            <div class="col-sm-3 border rounded">
                <p class="d-inline strong text-info ">Port:</p>
                <p class="d-inline">{{ meta["stats"]["port_number"] }}</p>
            </div>
        </div>
    </div>
    <table class="table table-sm mt-3" id="example">
        <thead>
            <tr class="alert-success">
                <th>Index</th>
                <th>Packet Type</th>
                <th>Packet Size</th>
                <th>TimeStamp</th>
                <th>Data (ASCII)</th>
            </tr>
        </thead>
        <tbody>
            {% for line in data %}
            <tr>
                <th>{{ line["index"] + 1 }}</th>
                <th>{{ line["packet_type"] }}</th>
                <th>{{ line["packet_size"] }}</th>
                <th>{{ line["time_stamp"] }}</th>
                <th><p class="font-weight-light text-monospace text-break bg-light">{{ line["data_string"] }} </p></th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}