{% extends 'layout.html' %}
{% block body %}
<div class="container-fluid mt-2">
    <div class="container-fluid d-flex justify-content-center">
        <div class="row" style="width: 100%;">
            <div class="col-sm-3 border ">
                <p class="d-inline strong text-info">Id : </p>
                <p class="d-inline text-center"> Test_ID</p>
            </div>
            <div class="col-sm-3 border ">
                <p class="d-inline strong text-info ">File Name :</p>
                <p class="d-inline">{{ meta["file_name"] }}</p>
            </div>
            <div class="col-sm-3 border ">
                <p class="d-inline strong text-info ">Comment :</p>
                <p class="d-inline">{{ meta["comment"] }}</p>
            </div>
            <div class="col-sm-3 border  ">
                <p class="d-inline strong text-info ">Created At :</p>
                <p class="d-inline">{{ meta["stats"]["uploaded_at"] }}</p>
            </div>
        </div>
    </div>

    <div class="container-fluid d-flex justify-content-center ">
        <div class="row" style="width: 100%;">
            <div class="col-sm-3 border rounded">
                <p class="d-inline strong text-info ">Sent count</p>
                <p class="d-inline">{{ meta["stats"]["send_count"] }}</p>
            </div>
            <div class="col-sm-3 border rounded ">
                <p class="d-inline strong text-info ">Read count</p>
                <p class="d-inline">{{ meta["stats"]["read_count"] }}</p>
            </div>
            <div class="col-sm-3 border rounded">
                <p class="d-inline strong text-info ">Total bytes sent</p>
                <p class="d-inline">{{ meta["stats"]["bytes_sent"] }} (avg  {{ meta["stats"]["bytes_sent"]/meta["stats"]["send_count"] }}) </p>
            </div>
            <div class="col-sm-3 border rounded">
                <p class="d-inline strong text-info ">Total bytes read</p>
                <p class="d-inline"> {{ meta["stats"]["bytes_read"] }} (avg {{ meta["stats"]["bytes_read"]/meta["stats"]["read_count"] }}) </p>
            </div>
        </div>
    </div>
    <table class="table table-sm mt-3">
        <tr class="alert-success">
            <th>Index</th>
            <th>Packet Type</th>
            <th>Packet Size</th>
            <th>TimeStamp</th>
            <th>Data (ASCII)</th>
        </tr>
        {% for line in data %}
        <tr>
            <th>{{ line["index"] + 1 }}</th>
            <th>{{ line["packet_type"] }}</th>
            <th>{{ line["packet_size"] }}</th>
            <th>{{ line["time_stamp"] }}</th>
            <th><p class="font-weight-light text-monospace text-break bg-light">{{ line["data_string"] }} </p></th>
        </tr>
        {% endfor %}
    </table>
{% endblock %}