{% extends 'layout.html' %}
{% block body %}
<table class="table mt-3 table-hover" id="example">
    <thead>
        <tr class="alert-success">
            <th>Index</th>
            <th>Function</th>
            <th>Start</th>
            <th>End</th>
            <th>Duration</th>
            <th>Result</th>

        </tr>
    </thead>
    <tbody>
        {% for line in data %}
        <tr>
            <th>{{ line["index"] + 1 }}</th>
            <th {% if line["function_s"] != line["function_e"] %} class="bg-danger" {% endif %}>
                {{ line["function_s"] }}
            </th>
            <th>{{ line["start_time"] }}</th>
            <th>{{ line["end_time"] }}</th>
            <th class={{ line["function_cc"] }}>{{ line["duration"] }}</th>
            {% if line["result"] == "(SQL_ERROR)" or line["result"] =="(SQL_INVALID_HANDLE)" %}
            <th class="bg-danger"> {{ line["result"] }} </th>
            {% elif line["result"] == "(SQL_NO_DATA_FOUND)" %}
            <th class="bg-warning"> {{ line["result"] }} </th>
            {% else %}
            <th> {{ line["result"] }} </th>
            {% endif %}
        </tr>

        {% endfor %}
    </tbody>
</table>

{% endblock %}