{% extends 'layout.html' %}
{% block body %}
<style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    .tg .tg-kftd{background-color:#efefef;text-align:left;vertical-align:top}
    .tg .tg-ah3a{background-color:#ffffff;border-color:#efefef;text-align:left;vertical-align:top}
    .tg .tg-0lax{text-align:left;vertical-align:top}
    </style>
    <table class="table" width="50%">
        <tr>
            <th >Index</th>
            <th >Function</th>
            <th >Start</th>
            <th >End</th>
            <th >Duration</th>
            <th >Result</th>
        </tr>
        {% for line in data %}
        <tr>
            <th >{{ line["index"] + 1 }}</th>
            <th {% if line["function_s"] != line["function_e"] %} class="bg-danger" {% endif %}>{{ line["function_s"] }}</th>
            <th >{{ line["start_time"] }}</th>
            <th >{{ line["end_time"] }}</th>
            <th {% if line["duration"] != '0' %} class="bg-danger" {% endif %} >{{ line["duration"] }}</th>
            {% if line["result"] == "(SQL_ERROR)" or line["result"] =="(SQL_INVALID_HANDLE)" %} 
            <th class="bg-danger"> {{ line["result"] }} </th>
            {% elif line["result"] == "(SQL_NO_DATA_FOUND)" %} 
            <th class="bg-warning"> {{ line["result"] }} </th>
            {% else %}
            <th> {{ line["result"] }} </th>  
            {% endif %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}